<!DOCTYPE html>
<html lang="eng">
<head>
    <title>project_aestus</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device.width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Arvo">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

    <div class="jumbotron text-center">
        <h1>[ project aestus ]</h1>
        <hr width="45%" />
        <p>image geo-location game // powered by flickr</p>
            <button type="button">play</button>
    </div>

</body>
</html>