html,body{height:100%}

.jumbotron {
    background-image: url('Images/bg.jpg');
    color: #efefef !important;
    height: 100%;
    padding: 200px 20px !important;
    margin-bottom: 0 !important;
    font-family: Arvo;
}

button {
    background-color: Transparent;
    border: 2px solid #efefef;
    font-size: 25px;
    padding: 10px 37px 10px 37px;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

hr {
    border-width: 2px;
}